/* - Common Parameters - */

* {
    font-family: Arial;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

fieldset {
    border: none;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.wrapper {
    flex-grow: 1;
}

/* - Header - */

header {
    background-color: orange;
    padding: 20px 10px;
}

/* Style the header links */
header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
header a.logo {
    font-size: 25px;
    font-weight: bold;
}

/* Change the background color on mouse-over */
header a:hover {
    background-color: white;
    color: orange;
}

/* Float the link section to the right */
.header-right {
    float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
    header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }
}

/* - Footer - */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0 30px 0;
    width: 100%;
    background: #414146;
    text-align: center;
}

footer a {
    color: red;
}

.btn {
    background: orange;
    border: 1px solid orange;
    color: white;
    margin: 10px;
    padding: 10px;
}

.btn:hover {
    background: white;
    color: orange;
}

.btn:active {
    background: darkorange;
    color: white;
}

.btnLink {
    display: inline-block;
    background: orange;
    border: 1px solid orange;
    color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 2px;
}

.btnLink:hover {
    background: white;
    color: orange;
}

.btnLink:active {
    background: darkorange;
    color: white;
}

/* - Page: Register - */

#regFormDisplay {
    display: grid;
    grid-template-columns: repeat(2, 2fr)
}

#regFormDisplay div {
    margin: 5px;
}

#regPhoneNumberCode {
    width: 25px;
}

#regPhoneNumberPart1 {
    width: 25px;
}

#regPhoneNumberPart2 {
    width: 15px;
}

#regPhoneNumberPart3 {
    width: 15px;
}

#buttons {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* - Gallery - */

#content {
    width: 50%;
    margin: 20px auto;
    border: 1px solid #cbcbcb;
}

#gallery_form {
    width: 50%;
    margin: 20px auto;
}

#gallery_form div {
    margin-top: 5px;
}

#img_div {
    width: 50%;
    padding: 5px;
    margin: 15px auto;
    border: 1px solid #cbcbcb;
}

#img_div:after {
    content: "";
    display: block;
    clear: both;
}

#image {
    float: left;
    margin: 5px;
    width: 150px;
    height: 140px;
}

/* - scores_records - */

#lineFollowerTableManage {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

#lineFollowerTableManage div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#lineFollowerTable {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

#lineFollowerTable div {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* -- Index -- */

.block0_hp {
    display: block;
    background-image: url("../src/stuff/12.jpg");
    height: 80vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#b0_bl {
    position: relative;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    display: flex;
    flex-direction: column;
}

#b0_bl2 {
    margin-top: -70vh;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#b0_bl2 h2{
    background: #ffea08;
    display: inline-block;
    font-size: 55px;
    padding: 0 13px;
    margin-left: 5vw;
    margin-right: auto;
    margin-bottom: 4px;
    font-weight: bolder;
}

#b0_bl2 h2:nth-child(1){
    animation-duration: 1s;
    animation-name: slidein;
}

#b0_bl2 h2:nth-child(2){
    animation-duration: 1.5s;
    animation-name: slidein;
}

#b0_bl2 h2:nth-child(3){
    animation-duration: 2s;
    animation-name: slidein;
}

/* Animation */
@keyframes slidein{
    from {
        font-size: 40px;
        display: inline-block;
        margin-left: -100%;
    }
    to {
        font-size: 55px;
        display: inline-block;
        margin-left: 5vw;
    }
}

.block1_hp {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10vw;
}

.block1_hp p {
    font-size: 30px;
}

.block2_hp {
    background-image: url("../src/stuff/13.jpg");
    height: 80vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.block3_hp {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10vw;
    font-size: 40px;
}

.block4_hp {
    background-image: url("../src/stuff/a3.jpg");
    height: 80vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* - Content - Common */

#left-right {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 2% 10%;
    font-size: 21px;
}

#left-right h2 {
    display: inline-block;
    margin-left: 15px;
    padding: 2px;
    border-bottom: 2px solid darkorange;
}

#left-right h2:hover {
    padding: 2px;
    background: darkorange;
}

#left-right h2,p,li,dd  {
    margin-top: 8px;
    margin-bottom: 8px;
}

.block0 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.block0 li {
    margin-left: 15px;
}

.block0 ol,ul {
    margin-bottom: 15px;
}

.block1 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.block1 li {
    margin-left: 15px;
}

.block1 ol,ul {
    margin-bottom: 15px;
}

.block2 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.block3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.block3 dd {
    margin-left: 5px;
}